@model tfzr_rsok_autosalon.Models.CarModels
@inject tfzr_rsok_autosalon.Services.IServices.ICarModelsService _carModelsService

@{
    Layout = "_Layout";
}

<h2>Izmena modela</h2>
<form class="form" asp-controller="CarModels" asp-action="Update" method="post" enctype="multipart/form-data">
    <label asp-for="Name">Ime</label>
    <br />
    <input class="form-control" asp-for="Name" />
    <br />
    <label asp-for="Manufacturer">Proizvodjac</label>
    <br />
    <select class="form-select" asp-for="ManufacturerId" asp-items="@_carModelsService.GetManufacturersForDropDown()"></select>
    <br />
    <label asp-for="Category">Kategorija</label>
    <br />
    <select class="form-select" asp-for="CategoryId" asp-items="@_carModelsService.GetCategoryForDropDown()"></select>
    <br />
    <br />
    <input type="hidden" asp-for="Id" />



    <button type="submit" class="btn btn-success">Sacuvaj</button>
</form>