@model IEnumerable<tfzr_rsok_autosalon.Viewmodels.ManufacturersViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PROIZVODJACI</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Dodaj</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Ime</th>
        <th>Opcije</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Model.Name
            </td>

            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.Model.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Obrisi", "Delete", new { id = item.Model.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>